#root {
  max-width: 1280px;
  margin: 0;
  padding: 0rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(18, 17, 17);
  background-color: white(246, 240, 240, 0.946);
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 10vh;
  font-size:12px;
  display: flex; 
  justify-content: center;

}



